.bg-black {
  background-color: black;
}
.home .active {
  background-color: black;
  color: white;
}
.home .loader {
  background-color: black;
  width: 100%;
  height: 300px;
  z-index: 100;
}

.home {
  z-index: 0;
}

.home .video_box video {
  width: 100%;
  object-fit: cover;
}
.home .video_overlays {
  position: absolute;
  font-size: 39px;
  font-weight: bold;
  color: white;
  width: 50%;
  min-height: 40px;
  bottom: 40%;
  left: 25%;
  text-align: center;
  z-index: 1;
}

.home video {
  width: 100%;
}
.home .principale-title {
  position: absolute;
  left: 24.5%;
  margin-top: 20%;
  color: white;
  font-size: 45px;
  font-weight: bold;
  z-index: 1;
  width: 50%;
}
.home .principale-forteresse {
  position: absolute;
  width: 84%;
  filter: brightness(50%);
  left: 7%;
}
.home .principale-video {
  position: absolute;
}

.home .bloc {
  padding-top: 40px;
  padding-bottom: 100px;
}
.home .title {
  padding-bottom: 40px;
}

.home .attribut .attribut-part {
  border: solid rgba(126, 126, 126, 0.26) 2px;
  border-radius: 20px;
  width: 90%;
  margin: 10px 0px;
  padding-top: 10px;
}

.home .image-description {
  width: 100%;
  padding-bottom: 20px;
}
.home .attribut-container {
  width: 90%;
}

.home .boosterdrop {
  display: flex;
  background: #e3032d;
  position: relative;
  height: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}
.home .booster-etape {
  /*display: inline-block;*/
  flex: 1;

  margin-top: 50px;
  margin-bottom: 50px;
  width: 40%;
  border-radius: 30px;
  border: solid white;
  padding-bottom: 40px;
}
.home .booster-etape h3 {
  color: white;
}
.home .booster-etape img {
  width: 32%;
  max-width: 180px;
  float: left;
}
.home .booster-etape1 {
  margin-top: 50px;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}
.home .booster-etape1 p {
  padding-left: 35%;
  padding-bottom: 30px;
}

.home .drop-etape {
  /*display: inline-block;*/
  flex: 1;
  position: absolute;
  width: 40%;
  margin-left: 5%;
  border-radius: 30px;
  border: solid #060b15;
  padding-bottom: 40px;
  background: #060b15;
  color: white;
  position: static;
  margin-top: 50px;
  margin-bottom: 50px;
}
.home .drop-etape h3 {
  color: white;
}
.home .drop-etape img {
  width: 32%;
  max-width: 180px;
  float: left;
}

.home .update-mail {
  margin-top: 60px;
  display: inline-block;
  border-radius: 40px;
  border: solid #f6f6f6;
  width: 80%;
  margin-bottom: 60px;
  background: #f6f6f6;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.home .update-text {
  display: inline-block;
  width: 50%;
  text-align: justify;
}
.home .update-text h2 {
  font-size: 30px;
}
.home .home .update-form {
  color: red;
  font-size: 25px;
  display: inline-block;
  position: relative;
  padding-left: 5%;
  padding-top: -100px;
  vertical-align: bottom;
}
.home .update-form input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: solid white;
  text-align: center;
  outline: none;
}
.home .update-form input[type="submit"] {
  background: url("../../Illustration/emoji.png");
}

/*RoadMap*/
.home .RoadMap {
  padding-top: 30px;
  padding-bottom: 30px;
}
.home .RoadMap img {
  width: 50%;
  height: auto;
}
.home .RoadMap h1 {
  padding-top: 3%;
  padding-bottom: 3%;
}
.button {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #f44336;
  color: white;
  border: 2px solid black;
}
#bg {
  position: static;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.home .RoadMap .ButtonUp {
  display: flex;
  align-items: stretch;
  text-align: justify;
  justify-content: center;
  /*padding-bottom: 5%;
  padding-top: 5%;*/
}

.home .RoadMap .ButtonUp {
  padding-left: 10%;
  padding-right: 10%;
}
.home .RoadMap .ButtonUp table tr td {
  text-align: center;
}
.home .RoadMap .ButtonUp table tr td img {
  width: 20%;
  height: auto;
}

.home .RoadMap .ButtonUp table tr td img.buttonDown {
  width: 15%;
  height: auto;
}

.home .Partners table tr td img.blueWhale {
  width: 15%;
  height: auto;
  padding-right: 2%;
  min-width: 250px;
}

.home .Partners table tr td img.odyyana {
  width: 12%;
  padding-left: 2%;
  height: auto;
  min-width: 200px;
}

.home .Partners table {
  border-collapse: collapse;
}

.home .Partners table {
  width: 100%;
  max-width: 100%;
}

.home .Partners table tr td {
  display: inline-block;
  padding: 5px;
}
.home .Partners table tr td p.name {
  padding-top: 10px;
  font-weight: bold;
}

.home .Partners h1 {
  padding-bottom: 10px;
}

.home .Partners {
  /*padding-top: 5%;*/
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5%;
}

.home .text-description {
  text-align: left;
  width: 130%;
}

@media only screen and (max-width: 600px) {
  .home .RoadMap .button {
    width: 100%;
  }
}

/* Responsive  */
@media (max-width: 1536px) {
  .drop-etape {
    width: 40%;
  }
  .booster-etape {
    width: 40%;
  }
}

@media (max-width: 810px) {
  .discover-body {
    display: inline;
  }
  .discover-body img {
    width: 50%;
  }
  .discover-body p {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .home .booster .bloc {
    display: inline;
    align-items: center;
  }
  .home .booster img {
    float: none;
    width: 30%;
    min-width: 150px;
    height: 20%;
    margin-top: 0px;
    padding: 0 0;
    margin: 0 0;
  }
  .home .booster p {
    padding: 0 30px;
  }

  .home .discover-body {
    margin-top: 5%;
    display: inline;
  }
  .home .discover-body img {
    width: 30%;
    min-width: 200px;
  }
  .home .discover-body p {
    padding: 30px 0;
    font-size: 100%;
    margin-top: 50px;
  }

  .home .rarete img {
    padding: 20px 0;
  }

  .home .update-text {
    width: 90%;
  }
  .home .boosterdrop {
    padding-top: 30px;
  }
  .home .booster-etape {
    width: 60%;
    margin: 0px 20%;
  }
  .home .drop-etape {
    width: 60%;
    margin: 30px 0;
  }
  .home .booster-etape {
    /*display: table;*/
  }
  .home .openbox {
    min-width: 900px;
    width: 370%;
  }
  .home .boosterdrop {
    flex-direction: column;
  }
  .home .booster-etape {
    width: 90%;
    margin: 30px 5%;
  }
  .home .drop-etape {
    width: 90%;
    margin: 30px 5%;
  }
}
