.navigation {
  z-index: 100;
  background-color: white;
}
.ftco-section {
  box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.75);
}
.sticky {
  position: sticky;
  top: 0;
}
.no-border {
  border: none;
  box-shadow: none;
}
.navbarbrand {
  width: 10%;
  max-width: 300px;
  min-width: 70px;
}
.flags-icons {
  text-align: right;
  z-index: 0;
}
.flag-icon {
  font-size: 30px !important;
  padding: 0 5px;
  cursor: pointer;
}
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: red;
}

.liste-menu li {
  padding: 0 5px;
  z-index: 1;
}
.isDisabled {
  cursor: not-allowed;
  opacity: 0.7;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .flags-icons {
    text-align: center;
    margin-top: 15px;
  }
}
