.navigation {
  z-index: 2;
  position: fixed;
}

.navigation .navbar-link {
  color: #707070;
}

.navigation .logo {
  width: 40px;
}
.navigation .flag-icon {
  font-size: 30px !important;
  padding: 0px 5px;
}
.navScroll {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgb(0, 0, 0));
  color: white;
}
.navScroll .navbar-link {
  color: white;
}
