.MyCollection {
  margin-top: 140px;
}

.MyCollection .form-ETH_Mainnet {
  color: #e3032d;
  font-weight: bold;
}
.MyCollection input[name="ETH_Mainnet"] {
  font-size: 16px;
  background-color: #e3032d;
  width: 40%;
  min-width: 340px;
  color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  border: none;
  border-radius: 30px;
  margin-left: 5px;
}

.MyCollection select {
  width: 300px;
  height: 30px;
  background-color: red;
  outline: none;
  border: none;
  resize: none;
  outline: none;
}
.MyCollection h1 {
  font-weight: normal;
  margin-top: 60px;
}
.MyCollection .card {
  width: 17%;
  min-width: 300px;
  padding: 0px 20px;
}

@media (max-width: 810px) {
  .MyCollection {
    margin-top: 60px;
  }
  .MyCollection input[name="ETH_Mainnet"] {
    font-size: 13.5px;
  }
}

@media (max-width: 470px) {
  .MyCollection input[name="ETH_Mainnet"] {
    margin-left: 0;
  }
}
